
# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/db.sqlite3
.env
.DS_Store

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
backend/client_secret*.json
